// designs Mobile qui peut évoluer vers la version Desktop
.container {
  width: 100%;
  margin: 0;
}
@media (min-width: 1024px) {
  // Au dessus de 1024px de large, on applique cette règle
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

@media (min-width: 1024px) {
  // Au dessus de 1024px de large, on applique cette règle
  img {
    width: 100%;
    height: 100%;
  }
}

//HEADER

.header {
  background-color: lightcoral;
  text-align: center;
  align-content: center;
  //fixer le header apres le scroll
  position: fixed;
  width: 100%;
  top: 0;
}
